<form method="POST" action="/add/articles/<%= user.id %>">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" required>

    <label for="description">Description :</label>
    <textarea name="description" id="description" rows="4" cols="50" required></textarea>

    <label for="category">Catégorie :</label>
    <select name="category" id="category" required>
        <option value="0">Sélectionnez une catégorie</option>
        <% for(let i = 0; i < category.length;i++) { %>
            <option value="<%= category[i].id %>"><%= category[i].name %></option>
        <% } %>
    </select>

    <input type="submit" value="Ajouter">
</form>