<section class="edit-password-form">
    <fieldset>
        <legend>Modifier votre mot de passe</legend>
        <form action="/setting/edit-password/<%= user.id %>" method="post">
            <div>
                <label for="oldPassword">Ancien mot de passe :</label>
                <input type="password" name="oldPassword" id="oldPassword" required>
            </div>
            <div>
                <label for="newPassword">nouveau mot de passe :</label>
                <input type="password" name="newPassword" id="newPassword" required>
            </div>
            <div>
                <label for="confirmPassword">Confirmer mot de passe :</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <input type="submit" value="Modifier">
        </form>
    </fieldset>
</section>