<section class="edit-profil-form">
    <fieldset>
        <legend>Modifier votre profil</legend>
        <form action="/setting/edit-profile/<%= user.id %>" method="post">
            <div>
            <label for="pseudo">pseudo :</label>
            <input type="text" name="pseudo" id="pseudo" value="<%= user.pseudo %>" required>
            </div>
            <div>
                <label for="email">email :</label>
                <input type="email" name="email" id="email" value="<%= user.email %>" required>
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="text" name="password" id="password" required>
            </div>
            <input type="submit" value="Modifier">
        </form>
    </fieldset>
</section>