<h1>Politique de confidentialité</h1>
<p>Dernière mise à jour : 8 juin 2023</p>
<p>Cette politique de confidentialité décrit nos politiques et procédures en matière de collecte, d'utilisation et de divulgation de vos informations lorsque vous utilisez le service, et vous informe de vos droits en matière de confidentialité et de la protection légale dont vous bénéficiez.</p>
<p>Nous utilisons vos données personnelles pour fournir et améliorer le service. En utilisant le service, vous acceptez la collecte et l'utilisation d'informations conformément à cette politique de confidentialité. Cette politique de confidentialité a été créée à l'aide du <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">générateur de politique de confidentialité</a>.</p>
<h1>Interprétation et définitions</h1>
<h2>Interprétation</h2>
<p>Les termes dont la première lettre est en majuscule ont des significations définies dans les conditions suivantes. Les définitions suivantes ont la même signification, qu'elles apparaissent au singulier ou au pluriel.</p>
<h2>Définitions</h2>
<p>Aux fins de cette politique de confidentialité :</p>
<ul>
    <li>
        <p><strong>Compte</strong> désigne un compte unique créé pour vous permettre d'accéder à notre service ou à certaines parties de notre service.</p>
    </li>
    <li>
        <p><strong>Affilié</strong> désigne une entité qui contrôle, est contrôlée par ou est sous le contrôle commun d'une partie, où le terme "contrôle" signifie la possession de 50% ou plus des actions, intérêts sur le capital ou autres titres donnant droit de vote pour l'élection des administrateurs ou autre autorité de gestion.</p>
    </li>
    <li>
        <p><strong>Entreprise</strong> (dénommée également "la Société", "Nous", "Notre" dans cet accord) fait référence à la Guilde Eden Eternal Kyosei.</p>
    </li>
    <li>
        <p><strong>Cookies</strong> sont de petits fichiers qui sont placés sur votre ordinateur, votre appareil mobile ou tout autre appareil par un site Web, contenant les détails de votre historique de navigation sur ce site parmi ses nombreuses utilisations.</p>
    </li>
    <li>
        <p><strong>Pays</strong> fait référence à : France</p>
    </li>
    <li>
        <p><strong>Appareil</strong> désigne tout appareil pouvant accéder au service, tel qu'un ordinateur, un téléphone portable ou une tablette numérique.</p>
    </li>
    <li>
        <p><strong>Données personnelles</strong> désigne toute information se rapportant à une personne physique identifiée ou identifiable.</p>
    </li>
    <li>
        <p><strong>Service</strong> fait référence au site Web.</p>
    </li>
    <li>
        <p><strong>Prestataire de services</strong> désigne toute personne physique ou morale qui traite les données pour le compte de la Société. Il s'agit de sociétés tierces ou de personnes employées par la Société pour faciliter le service, fournir le service au nom de la Société, effectuer des services liés au service ou aider la Société à analyser l'utilisation du service.</p>
    </li>
    <li>
        <p><strong>Données d'utilisation</strong> fait référence aux données collectées automatiquement, générées par l'utilisation du service ou par l'infrastructure du service elle-même (par exemple, la durée d'une visite de page).</p>
    </li>
    <li>
        <p><strong>Site Web</strong> fait référence à la Guilde Eden Eternal Kyosei, accessible depuis <a href="http://Guilde-Kyosei-Eden-Eternal.fr" rel="external nofollow noopener" target="_blank">http://Guilde-Kyosei-Eden-Eternal.fr</a></p>
    </li>
    <li>
        <p><strong>Vous</strong> désigne la personne physique accédant ou utilisant le service, ou la société ou autre entité juridique au nom de laquelle cette personne physique accède ou utilise le service, le cas échéant.</p>
    </li>
</ul>
<h1>Collecte et utilisation de vos données personnelles</h1>
<h2>Types de données collectées</h2>
<h3>Données personnelles</h3>
<p>Lorsque vous utilisez notre service, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnelles identifiables peuvent inclure, sans s'y limiter :</p>
<ul>
    <li>
        <p>Adresse e-mail</p>
    </li>
    <li>
        <p>Données d'utilisation</p>
    </li>
</ul>
<h3>Données d'utilisation</h3>
<p>Les données d'utilisation sont collectées automatiquement lors de l'utilisation du service.</p>
<p>Les données d'utilisation peuvent inclure des informations telles que l'adresse de protocole Internet de votre appareil (par exemple, l'adresse IP), le type de navigateur, la version du navigateur, les pages de notre service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages, des identifiants d'appareil uniques et d'autres données de diagnostic.</p>
<p>Lorsque vous accédez au service par le biais d'un appareil mobile, nous pouvons collecter certaines informations automatiquement, notamment le type d'appareil mobile que vous utilisez, l'identifiant unique de votre appareil mobile, l'adresse IP de votre appareil mobile, le système d'exploitation mobile, le type de navigateur Internet mobile que vous utilisez, des identifiants d'appareil uniques et d'autres données de diagnostic.</p>
<p>Nous pouvons également collecter des informations que votre navigateur envoie chaque fois que vous visitez notre service ou lorsque vous accédez au service par le biais d'un appareil mobile.</p>
<h3>Technologies de suivi et cookies</h3>
<p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur notre service et stocker certaines informations. Les technologies de suivi utilisées peuvent inclure des balises, des tags et des scripts pour collecter et suivre des informations et améliorer et analyser notre service. Les technologies que nous utilisons peuvent inclure :</p>
<ul>
    <li><strong>Cookies ou cookies de navigateur.</strong> Un cookie est un petit fichier placé sur votre appareil. Vous pouvez demander à votre navigateur de refuser tous les cookies ou de vous indiquer quand un cookie est envoyé. Cependant, si vous n'acceptez pas les cookies, vous ne pourrez peut-être pas utiliser certaines parties de notre service. À moins que vous n'ayez ajusté les paramètres de votre navigateur pour qu'il refuse les cookies, notre service peut utiliser des cookies.</li>
    <li><strong>Web Beacons.</strong> Certaines sections de notre service et nos e-mails peuvent contenir de petits fichiers électroniques appelés balises web (également appelées gifs transparents, tags pixel et gifs monopixel) qui permettent à la société, par exemple, de compter les utilisateurs qui ont visité ces pages ou ouvert un e-mail, et d'obtenir d'autres statistiques liées au site web (par exemple, en enregistrant la popularité d'une certaine section et en vérifiant l'intégrité du système et du serveur).</li>
</ul>
<p>Les cookies peuvent être des cookies "Persistants" ou des cookies "de session". Les cookies persistants restent sur votre ordinateur personnel ou votre appareil mobile lorsque vous êtes hors ligne, tandis que les cookies de session sont supprimés dès que vous fermez votre navigateur web. En savoir plus sur les cookies sur l'article du site <a href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking" target="_blank">Privacy Policies</a>.</p>
<p>Nous utilisons à la fois des cookies de session et des cookies persistants dans les buts énoncés ci-dessous :</p>
<ul>
    <li>
        <p><strong>Cookies nécessaires / essentiels</strong></p>
        <p>Type : Cookies de session</p>
        <p>Administrés par : Nous</p>
        <p>But : Ces cookies sont essentiels pour vous fournir les services disponibles sur le site web et vous permettre d'utiliser certaines de ses fonctionnalités. Ils aident à authentifier les utilisateurs et à prévenir une utilisation frauduleuse des comptes d'utilisateurs. Sans ces cookies, les services que vous avez demandés ne peuvent pas être fournis, et nous utilisons uniquement ces cookies pour vous fournir ces services.</p>
    </li>
    <li>
        <p><strong>Cookies d'acceptation de la politique / de l'avis sur les cookies</strong></p>
        <p>Type : Cookies persistants</p>
        <p>Administrés par : Nous</p>
        <p>But : Ces cookies permettent d'identifier si les utilisateurs ont accepté l'utilisation des cookies sur le site web.</p>
    </li>
    <li>
        <p><strong>Cookies de fonctionnalité</strong></p>
        <p>Type : Cookies persistants</p>
        <p>Administrés par : Nous</p>
        <p>But : Ces cookies nous permettent de mémoriser les choix que vous faites lorsque vous utilisez le site web, tels que vos coordonnées de connexion ou vos préférences linguistiques. Le but de ces cookies est de vous offrir une expérience plus personnalisée et d'éviter que vous ayez à saisir vos préférences à chaque utilisation du site web.</p>
    </li>
</ul>
<p>Pour plus d'informations sur les cookies que nous utilisons et vos choix concernant les cookies, veuillez consulter notre Politique en matière de cookies ou la section des cookies de notre Politique de confidentialité.</p>
<h2>Utilisation de vos données personnelles</h2>
<p>La société peut utiliser les données personnelles aux fins suivantes :</p>
<ul>
    <li>
        <p><strong>Fournir et maintenir notre service</strong>, y compris surveiller l'utilisation de notre service.</p>
    </li>
    <li>
        <p><strong>Gérer votre compte</strong> : gérer votre inscription en tant qu'utilisateur du service. Les données personnelles que vous fournissez peuvent vous donner accès à différentes fonctionnalités du service qui vous sont disponibles en tant qu'utilisateur inscrit.</p>
    </li>
    <li>
        <p><strong>Pour l'exécution d'un contrat</strong> : le développement, le respect et la réalisation du contrat d'achat des produits, articles ou services que vous avez achetés, ainsi que de tout autre contrat avec nous via le service.</p>
    </li>
    <li>
        <p><strong>Vous contacter</strong> : vous contacter par e-mail, appels téléphoniques, SMS ou d'autres formes de communication électronique équivalentes, telles que les notifications push d'une application mobile, concernant les mises à jour ou les communications informatives liées aux fonctionnalités, produits ou services contractés, y compris les mises à jour de sécurité, lorsque cela est nécessaire ou raisonnable pour leur mise en œuvre.</p>
    </li>
    <li>
        <p><strong>Vous fournir</strong> des actualités, des offres spéciales et des informations générales sur d'autres biens, services et événements que nous proposons et qui sont similaires à ceux que vous avez déjà achetés ou demandés, sauf si vous avez choisi de ne pas recevoir de telles informations.</p>
    </li>
    <li>
        <p><strong>Gérer vos demandes</strong> : répondre à vos demandes et les gérer.</p>
    </li>
    <li>
        <p><strong>Transferts commerciaux</strong> : nous pouvons utiliser vos informations pour évaluer ou effectuer une fusion, une cession, une restructuration, une réorganisation, une dissolution ou une autre vente ou transfert de tout ou partie de nos actifs, que ce soit en tant qu'entreprise en activité ou dans le cadre d'une procédure de faillite, de liquidation ou de procédure similaire, dans laquelle les données personnelles détenues par nous concernant nos utilisateurs de service font partie des actifs transférés.</p>
    </li>
    <li>
        <p><strong>Pour d'autres fins</strong> : nous pouvons utiliser vos informations à d'autres fins, telles que l'analyse des données, l'identification des tendances d'utilisation, la détermination de l'efficacité de nos campagnes promotionnelles, l'évaluation et l'amélioration de notre service, de nos produits, de nos services, de notre marketing et de votre expérience.</p>
    </li>
</ul>
<p>Les cookies peuvent être des cookies "Persistants" ou des cookies "de session". Les cookies persistants restent sur votre ordinateur personnel ou votre appareil mobile lorsque vous êtes hors ligne, tandis que les cookies de session sont supprimés dès que vous fermez votre navigateur web. En savoir plus sur les cookies sur l'article du site <a href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking" target="_blank">Privacy Policies</a>.</p>
<p>Nous utilisons à la fois des cookies de session et des cookies persistants dans les buts énoncés ci-dessous :</p>
<ul>
    <li>
        <p><strong>Cookies nécessaires / essentiels</strong></p>
        <p>Type : Cookies de session</p>
        <p>Administrés par : Nous</p>
        <p>But : Ces cookies sont essentiels pour vous fournir les services disponibles sur le site web et vous permettre d'utiliser certaines de ses fonctionnalités. Ils aident à authentifier les utilisateurs et à prévenir une utilisation frauduleuse des comptes d'utilisateurs. Sans ces cookies, les services que vous avez demandés ne peuvent pas être fournis, et nous utilisons uniquement ces cookies pour vous fournir ces services.</p>
    </li>
    <li>
        <p><strong>Cookies d'acceptation de la politique / de l'avis sur les cookies</strong></p>
        <p>Type : Cookies persistants</p>
        <p>Administrés par : Nous</p>
        <p>But : Ces cookies permettent d'identifier si les utilisateurs ont accepté l'utilisation des cookies sur le site web.</p>
    </li>
    <li>
        <p><strong>Cookies de fonctionnalité</strong></p>
        <p>Type : Cookies persistants</p>
        <p>Administrés par : Nous</p>
        <p>But : Ces cookies nous permettent de mémoriser les choix que vous faites lorsque vous utilisez le site web, tels que vos coordonnées de connexion ou vos préférences linguistiques. Le but de ces cookies est de vous offrir une expérience plus personnalisée et d'éviter que vous ayez à saisir vos préférences à chaque utilisation du site web.</p>
    </li>
</ul>
<p>Pour plus d'informations sur les cookies que nous utilisons et vos choix concernant les cookies, veuillez consulter notre Politique en matière de cookies ou la section des cookies de notre Politique de confidentialité.</p>
<h2>Utilisation de vos données personnelles</h2>
<p>La société peut utiliser les données personnelles aux fins suivantes :</p>
<ul>
    <li>
        <p><strong>Fournir et maintenir notre service</strong>, y compris surveiller l'utilisation de notre service.</p>
    </li>
    <li>
        <p><strong>Gérer votre compte</strong> : gérer votre inscription en tant qu'utilisateur du service. Les données personnelles que vous fournissez peuvent vous donner accès à différentes fonctionnalités du service qui vous sont disponibles en tant qu'utilisateur inscrit.</p>
    </li>
    <li>
        <p><strong>Pour l'exécution d'un contrat</strong> : le développement, le respect et la réalisation du contrat d'achat des produits, articles ou services que vous avez achetés, ainsi que de tout autre contrat avec nous via le service.</p>
    </li>
    <li>
        <p><strong>Vous contacter</strong> : vous contacter par e-mail, appels téléphoniques, SMS ou d'autres formes de communication électronique équivalentes, telles que les notifications push d'une application mobile, concernant les mises à jour ou les communications informatives liées aux fonctionnalités, produits ou services contractés, y compris les mises à jour de sécurité, lorsque cela est nécessaire ou raisonnable pour leur mise en œuvre.</p>
    </li>
    <li>
        <p><strong>Vous fournir</strong> des actualités, des offres spéciales et des informations générales sur d'autres biens, services et événements que nous proposons et qui sont similaires à ceux que vous avez déjà achetés ou demandés, sauf si vous avez choisi de ne pas recevoir de telles informations.</p>
    </li>
    <li>
        <p><strong>Gérer vos demandes</strong> : répondre à vos demandes et les gérer.</p>
    </li>
    <li>
        <p><strong>Transferts commerciaux</strong> : nous pouvons utiliser vos informations pour évaluer ou effectuer une fusion, une cession, une restructuration, une réorganisation, une dissolution ou une autre vente ou transfert de tout ou partie de nos actifs, que ce soit en tant qu'entreprise en activité ou dans le cadre d'une procédure de faillite, de liquidation ou de procédure similaire, dans laquelle les données personnelles détenues par nous concernant nos utilisateurs de service font partie des actifs transférés.</p>
    </li>
    <li>
        <p><strong>Pour d'autres fins</strong> : nous pouvons utiliser vos informations à d'autres fins, telles que l'analyse des données, l'identification des tendances d'utilisation, la détermination de l'efficacité de nos campagnes promotionnelles, l'évaluation et l'amélioration de notre service, de nos produits, de nos services, de notre marketing et de votre expérience.</p>
    </li>
</ul>
<p>Nous pouvons partager vos informations personnelles dans les situations suivantes :</p>
<ul>
    <li><strong>Avec des prestataires de services :</strong> Nous pouvons partager vos informations personnelles avec des prestataires de services pour surveiller et analyser l'utilisation de notre service, ainsi que pour vous contacter.</li>
    <li><strong>Pour les transferts commerciaux :</strong> Nous pouvons partager ou transférer vos informations personnelles dans le cadre d'une fusion, d'une vente d'actifs de la société, d'un financement ou de l'acquisition de tout ou partie de notre entreprise par une autre entreprise, ou lors de négociations y afférentes.</li>
    <li><strong>Avec des affiliés :</strong> Nous pouvons partager vos informations avec nos affiliés, auquel cas nous demanderons à ces affiliés de respecter cette politique de confidentialité. Les affiliés incluent notre société mère et toutes les filiales, partenaires de coentreprise ou autres sociétés que nous contrôlons ou qui sont sous notre contrôle commun.</li>
    <li><strong>Avec des partenaires commerciaux :</strong> Nous pouvons partager vos informations avec nos partenaires commerciaux pour vous proposer certains produits, services ou promotions.</li>
    <li><strong>Avec d'autres utilisateurs :</strong> lorsque vous partagez des informations personnelles ou interagissez d'une autre manière dans les espaces publics avec d'autres utilisateurs, ces informations peuvent être consultées par tous les utilisateurs et diffusées publiquement en dehors de ceux-ci.</li>
    <li><strong>Avec votre consentement</strong> : Nous pouvons divulguer vos informations personnelles à d'autres fins avec votre consentement.</li>
</ul>
<h2>Conservation de vos données personnelles</h2>
<p>La société ne conservera vos données personnelles que pendant la durée nécessaire aux fins énoncées dans cette politique de confidentialité. Nous conserverons et utiliserons vos données personnelles dans la mesure nécessaire pour respecter nos obligations légales (par exemple, si nous sommes tenus de conserver vos données pour respecter les lois applicables), régler les litiges et faire respecter nos accords et politiques juridiques.</p>
<p>La société conservera également des données d'utilisation à des fins d'analyse interne. Les données d'utilisation sont généralement conservées pendant une période plus courte, sauf lorsque ces données sont utilisées pour renforcer la sécurité ou améliorer les fonctionnalités de notre service, ou lorsque nous sommes légalement obligés de conserver ces données pendant des périodes plus longues.</p>
<h2>Transfert de vos données personnelles</h2>
<p>Vos informations, y compris vos données personnelles, sont traitées dans les bureaux opérationnels de la société et dans d'autres lieux où les parties impliquées dans le traitement sont situées. Cela signifie que ces informations peuvent être transférées et conservées sur des ordinateurs situés en dehors de votre État, province, pays ou autre juridiction gouvernementale où les lois sur la protection des données peuvent différer de celles de votre juridiction.</p>
<p>Votre consentement à cette politique de confidentialité, suivi de votre soumission de telles informations, représente votre accord à ce transfert.</p>
<p>La société prendra toutes les mesures raisonnablement nécessaires pour s'assurer que vos données sont traitées de manière sécurisée et conformément à cette politique de confidentialité, et aucun transfert de vos données personnelles n'aura lieu vers une organisation ou un pays, sauf si des contrôles adéquats sont en place, y compris la sécurité de vos données et autres informations personnelles.</p>
<h2>Suppression de vos données personnelles</h2>
<p>Vous avez le droit de supprimer ou de demander notre assistance pour supprimer les données personnelles que nous avons collectées vous concernant.</p>
<p>Notre service peut vous donner la possibilité de supprimer certaines informations vous concernant à partir du service.</p>
<p>Vous pouvez mettre à jour, modifier ou supprimer vos informations à tout moment en vous connectant à votre compte, le cas échéant, et en visitant la section des paramètres du compte qui vous permet de gérer vos informations personnelles. Vous pouvez également nous contacter pour demander l'accès, la correction ou la suppression de toute information personnelle que vous nous avez fournie.</p>
<p>Veuillez noter, cependant, que nous pouvons être amenés à conserver certaines informations lorsque nous avons une obligation légale ou une base juridique pour le faire.</p>
<h2>Divulgation de vos données personnelles</h2>
<h3>Transactions commerciales</h3>
<p>Si la société est impliquée dans une fusion, une acquisition ou une vente d'actifs, vos données personnelles peuvent être transférées. Nous vous fournirons un préavis avant que vos données personnelles ne soient transférées et ne deviennent soumises à une politique de confidentialité différente.</p>
<h3>Forces de l'ordre</h3>
<p>Dans certaines circonstances, la société peut être tenue de divulguer vos données personnelles si elle est tenue de le faire par la loi ou en réponse à des demandes valides des autorités publiques (par exemple, un tribunal ou un organisme gouvernemental).</p>
<h3>Autres obligations légales</h3>
<p>La société peut divulguer vos données personnelles de bonne foi si une telle action est nécessaire pour :</p>
<ul>
    <li>Se conformer à une obligation légale</li>
    <li>Protéger et défendre les droits ou les biens de la société</li>
    <li>Prévenir ou enquêter sur d'éventuelles activités répréhensibles liées au service</li>
    <li>Protéger la sécurité personnelle des utilisateurs du service ou du public</li>
    <li>Se protéger contre toute responsabilité légale</li>
</ul>
<h2>Sécurité de vos données personnelles</h2>
<p>La sécurité de vos données personnelles nous tient à cœur, mais n'oubliez pas qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos données personnelles, nous ne pouvons garantir une sécurité absolue.</p>
<h1>Vie privée des enfants</h1>
<p>Notre service ne s'adresse pas aux personnes de moins de 13 ans. Nous ne collectons sciemment aucune information permettant d'identifier personnellement des personnes de moins de 13 ans. Si vous êtes parent ou tuteur et que vous savez que votre enfant nous a fourni des données personnelles, veuillez nous contacter. Si nous apprenons que nous avons collecté des données personnelles auprès de personnes de moins de 13 ans sans vérification du consentement parental, nous prendrons des mesures pour supprimer ces informations de nos serveurs.</p>
<p>Si nous devons nous baser sur le consentement en tant que base légale pour le traitement de vos informations et que votre pays exige le consentement d'un parent, nous pourrions exiger le consentement de vos parents avant de collecter et d'utiliser ces informations.</p>
<h1>Liens vers d'autres sites web</h1>
<p>Notre service peut contenir des liens vers d'autres sites web qui ne sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez redirigé vers le site de ce tiers. Nous vous recommandons vivement de consulter la politique de confidentialité de chaque site que vous visitez.</p>
<p>Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques des sites ou services tiers et n'assumons aucune responsabilité à cet égard.</p>
<h1>Modification de cette politique de confidentialité</h1>
<p>Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. Nous vous informerons de tout changement en publiant la nouvelle politique de confidentialité sur cette page.</p>
<p>Nous vous informerons également par courrier électronique et/ou par un avis bien visible sur notre service avant que le changement n'entre en vigueur et mettrons à jour la date de "dernière mise à jour" en haut de cette politique de confidentialité.</p>
<p>Nous vous recommandons de consulter périodiquement cette politique de confidentialité pour prendre connaissance de toute modification. Les modifications apportées à cette politique de confidentialité prennent effet lorsqu'elles sont publiées sur cette page.</p>
<h1>Contactez-nous</h1>
<p>Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter :</p>
<ul>
    <li>Par courrier électronique : yannicklemarchand1@gmail.com</li>
</ul>