<section class="page-register">
    <fieldset class="form-registre">
        <legend>Inscription</legend>
        <% if(error !== null){ %>
            <p class="error"><%= error %></p>
        <% } %>
        <form action="/register" method="post" id="registerForm">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Entrer votre email">
            <label for="pseudo">Nom d'Utilisateur</label>
            <input type="text" id="pseudo" name="pseudo" placeholder="entrer votre pseudo avec minimum 3 caractères">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="enter votre mot de passe avec minimum 8 caractères">
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmer votre mot de passe">
            <input type="submit" value="S'inscrire">
        </form>

    </fieldset>

    <p>Deja un compte ? <a href="/login">Connecter-vous</a></p>
</section>
<script src="/js/form.js"></script>