.container-administration {
  margin: auto;
  padding-top: 1rem;
  text-align: center;

  .mobil-list {
    padding-bottom: 2%;
    h2{
      margin-bottom: 2%;
    }
    .list-users {
      margin: auto auto 5%;
      width: 90%;
      div {

        display: flex;
        border: var(--border);
        border-bottom: none;
        border-collapse: collapse;

        button{
          cursor: pointer;
        }

        &:last-child {
          border-bottom: var(--border);
        }

        p {
          width: 50%;
          padding: 1%;
          text-align: center;
          text-transform: capitalize;
          border-left: var(--border);

          &:first-child {
            border-left: none;
            font-weight: bold;
          }

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .table-users {
    width: 90%;
    margin: auto;
    border: var(--border);
    border-collapse: collapse;

    td, th {
      border: var(--border);
      padding: 1rem;
    }
  }

  .table-articles {
    border: var(--border);
    border-collapse: collapse;

    td, th {
      border: var(--border);
      padding: 0.5rem;
    }
  }

}

@media screen and (min-width: 768px) {
  .container-administration {
    .mobil-list {
      display: none;
      }
    .mobil-hidden{
      display:block;
      margin: auto;
      padding-bottom: 2%;
      h2 {
        margin: 2% 0;
      }

      table {
        width: 95%;
        margin: 2% auto auto;
        text-align: center;
        text-transform: capitalize;
        font-weight: var(--bold);

        thead {
          background-color: rgba(33, 3, 3, 0.89);
          color: white;
        }

        tbody {
          tr {
            background-color: rgba(72, 55, 55, 0.45);
          }
        }
      }

      .table-articles {
        tbody {
          tr {
            td {
              text-align: center;
              padding: 2%;
            }
          }
        }
      }
    }
  }
}

