.container-administration {
  margin: auto;
  padding-top: 1rem;
  text-align: center;

  .mobil-list {
    h2{
      margin-bottom: 2%;
    }
    .list-users {
      margin: auto auto 5%;
      width: 90%;
      div {

        display: flex;
        border: var(--border);
        border-bottom: none;
        border-collapse: collapse;

        button{
          cursor: pointer;
        }

        &:last-child {
          border-bottom: var(--border);
        }

        p {
          width: 50%;
          padding: 1%;
          text-align: center;
          text-transform: capitalize;
          border-left: var(--border);

          &:first-child {
            border-left: none;
            font-weight: bold;
          }

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .table-users {
    width: 90%;
    margin: auto;
    border: var(--border);
    border-collapse: collapse;

    td, th {
      border: var(--border);
      padding: 1rem;
    }
  }

  .table-articles {
    border: var(--border);
    border-collapse: collapse;

    td, th {
      border: var(--border);
      padding: 0.5rem;
    }
  }

}