
.mobil-list {
  img {
    width: 40%;
  }

  div:last-child {
    img {
      width: 10%;
    }
  }
}
@media screen and (min-width: 768px){
  .mobil-list{
    display: none;
  }
  .mobil-hidden{
    display: block;
    width: 100%;
    table{
      width:95%;
      margin: auto;
      td:nth-child(4){
        padding: 0;
        text-align: center;
      }
      td:last-child{
        width:15%;
      }
      img{
        width:50%;
      }
      .img-coins{
        width: 20%
      }
    }
  }
}

/* ************* PAGE ************* */
/* ************* ADD ITEMS ************* */

.form-items {
  .image {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-top: 2%;
    background-color: #fff;
    border: var(--border);
    border-radius: var(--border-radius);

    label {
      width: 20%;
      margin-bottom: 2%;

      img {
        width: 20%;
        cursor: pointer;
        border: var(--border);
        border-radius: var(--border-radius);
      }
    }
    .active {
      img {
        border-color: blue;
        box-shadow: blue 1px 0 5px;
      }
    }

    .hidden {
      display: none;
    }
  }
}