.container-items {
  padding: 2% 0;

  .search-form {
    margin-top: 0;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.2);

    label {
      font-size: 1.6rem;
    }
  }

  .mobil-list {
    img {
      width: 30%;
    }

    div:last-child {
      img {
        width: 10%;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .container-items {
    padding-top: 2%;

    .search-form {
      width: 50%;
      margin: auto;

      label {
        color: black;
      }
    }

    .mobil-list {
      display: none;
    }

    .mobil-hidden {
      display: block;
      width: 100%;
      font-weight: var(--bold);

      h2{
        text-align: center;
        text-transform: uppercase;
        margin: 2% 0;
      }

      table {
        width: 95%;
        margin: 2% auto auto;
        text-align: center;
        text-transform: uppercase;

        thead {
          background-color: rgba(33, 3, 3, 0.89);
          color: white;
        }

        tbody {

          tr {
            background-color: rgba(72, 55, 55, 0.45);

            td:nth-child(4) {
              padding: 0.5% 0;
              text-align: center;
            }

            td:last-child {
              width: 15%;

              div {
                display: flex;
                justify-content: center;
                align-items: center;

                .img-coins {
                  width: 20%
                }
              }
            }
          }
        }

        img {
          width: 50%;
        }

      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container-items {
    .mobil-hidden {
      table {
        td, th {
          padding: 0.5%;
        }

        td:nth-child(4) {
          padding: 0;
          text-align: center;
        }

        img {
          width: 25%;
        }

        .img-coins {
          width: 15%
        }
      }
    }

    .search-form {
      padding-top: 2%;
      width: 30%;
      margin-bottom: 2%;

      form {
        margin: auto;

        input[type='submit'] {
          width: 30%;
          margin-bottom: 2%;
        }
      }
    }
  }
}

/* ************* PAGE ************* */
/* ************* ADD ITEMS ************* */

.page-add-item, .page-edit-item {
  width: 90%;
  margin: auto;
  padding-top: 2%;

  fieldset {
    padding: 0;

    .form-items {
      padding: 0;

      label {
        margin: 2% 0;

        img {
          width: 50%;
          cursor: pointer;
          border: var(--border);
          border-radius: var(--border-radius);
        }
      }

      .image {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 2.5% auto;
        padding-top: 2%;
        background-color: #fff;
        border: var(--border);
        border-radius: var(--border-radius);

        label {
          width: 20%;
        }

        .active {
          img {
            border-color: blue;
            box-shadow: blue 1px 0 5px;
          }
        }

        .hidden {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-add-item, .page-edit-item {
    fieldset {
      .form-items {
        select {
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-add-item, .page-edit-item {
    fieldset {
      .form-items {
        select {
          width: 30%;
        }

        label {
          margin: 1% 0;
          font-size: 1.5rem;
        }

        .image {
          margin-top: 0;

          label {
            width: 10%;
            margin: 1%;
          }
        }
      }
    }
  }
}
