.page-connect, .page-register {
  width: 90%;
  margin: auto;

  fieldset {

    legend {
      text-align: center;
    }

    .form-login, .form-register {
      padding: 0;

      input[type='submit'] {
        width: 40%;
      }
    }
  }

  p {
    text-align: center;
    margin-top: 2%;
  }
}