
.search-form {
  padding: 5% 0 0;

  form {
    padding: 0;

    label {
      font-size: 1.5rem;
    }

    input[type='submit'] {
      width: 50%;
      margin-top: 2%;
    }
  }
}

.mobil-list {
  .list-articles, .list-items {
    margin: auto auto 5%;
    width: 90%;

    div {

      display: flex;
      border: var(--border);
      border-bottom: none;
      border-collapse: collapse;

      &:last-child {
        border-bottom: var(--border);
      }

      p {
        width: 50%;
        padding: 1%;
        text-align: center;
        text-transform: capitalize;
        border-left: var(--border);

        &:first-child {
          border-left: none;
          font-weight: bold;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .container-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('/img/fond-forum.webp');
    background-size: cover;
    background-position: 0 10%;
    padding: 2% 0;


    .search-form {
      width: 30%;
      margin: auto;
      padding-top: 2%;
      background-color: rgba(0, 0, 0, 0.24);
      label{
        color: white;
        font-weight: bold;
        padding-bottom: 1%;
      }

      form {
        margin: auto;

        input[type='submit'] {
          width: 40%;
          margin-top: 2.5%;
        }
      }
    }

    .mobil-list {
      display: none;
    }

    .mobil-hidden {
      display: block;
      width: 100%;

      h2 {
        color: black;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-top: 1%;
      }
      .table-forum {
        width: 95%;
        margin: 2% auto auto;
        text-align: center;
        text-transform: capitalize;

        .table-forum_thead{
          background-color: rgba(126, 24, 24, 0.89);
          color: white;
          font-weight: bold;
        }
        .table-forum_tbody{
          font-weight: bold;
          tr{
            background-color: rgba(141, 81, 81, 0.77);
          }
          td:nth-child(2){
            a{
              color: rgba(255, 255, 255, 0.6);
              text-decoration: underline;
            }
          }

        }
      }
    }
  }

}

@media screen and (min-width: 1200px) {
  .container-form{
    .search-form{
      padding-top: 1%;
    }

  }
  .mobil-hidden {
    h2{
      margin-top: 1%;
      margin-bottom: 1%;
    }
    width: 70%;
  }

}

/* ************* PAGE ************* */
/* ************* DETAILS ************* */

.page-details {
  width: 100%;

  .container-details {
    padding-top: 1rem;

    .header-details-img {
      background-image: url(../img/forum-details/articles-head.webp);
      background-size: cover;
      background-position: 0 15%;
      padding: 2rem;
    }

    .details-article {
      padding: 1rem;
      text-align: center;

      p {
        margin: auto auto 0.5rem;
        width: 85%;
      }
    }

    .body-details-img {
      background-image: url(../img/forum-details/articles-body.webp);
      background-size: 100%;
      background-repeat: repeat-y;
    }

    .footer-details-img {
      background-image: url(../img/forum-details/articles-footer.webp);
      background-size: cover;
      background-position: 0 -75%;
      padding: 10%;
    }
  }

  .details-comments {
    padding: 1rem;

    text-align: center;

    p {
      margin: auto auto 0.5rem;
      width: 85%;
    }

    hr {
      border-color: black;

      &:last-child {
        display: none;
      }
    }

    .header-comments-img {
      background-image: url(../img/forum-details/comments-head.webp);
      background-size: cover;
      background-position: 0 25%;
      padding: 5%;
    }

    .body-comments-img {
      background-image: url(../img/forum-details/comments-body.webp);
      background-size: 100%;
      background-repeat: repeat-y;
      padding-bottom: 0.5%;
    }

    .footer-comments-img {
      background-image: url(../img/forum-details/comments-footer.webp);
      background-size: cover;
      background-position: 0 -75%;
      padding: 7%;
    }
  }

  .details-form {
    margin: 1rem;
    border-radius: var(--border-radius);

    form {
      padding: 0;

      label {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (min-width: 767px) {

    .container-details {
      .header-details-img {
        background-position: 0 15%;
        padding: 8%;
      }

      .footer-details-img {
        background-position: 0 -80%;
        padding: 10.5%;
      }
    }
    .details-comments {
      .header-comments-img {
        background-position: 0 25%;
        padding: 8.5%;
      }

      .footer-comments-img {
        background-position: 0 -75%;
        padding: 7%;
      }
    }

  }


  @media screen and (min-width: 1200px) {

    .container-details {
      width: 90%;
      margin: auto;

      .header-details-img {
        background-position: 0 15%;
        padding: 7.5%;

        h1 {
          font-size: 5rem;
          margin: 0;
        }
      }

      .footer-details-img {
        background-position: 0 -75%;
        padding: 10%;
      }
    }
    .details-comments {
      width: 91.4%;
      margin: auto;

      .header-comments-img {
        background-position: 0 20%;
        padding: 6%;

        h2 {
          font-size: 5rem;
          margin: 0;
        }
      }

      .footer-comments-img {
        background-position: 0 -80%;
        padding: 7.4%;
      }
    }

  }
}

/* ************* PAGE ************* */
/* ************* ADD ARTICLE ************* */

.page-add-article {
  width: 90%;
  margin: auto;
  padding-top: 2%;

  fieldset {
    padding: 0;

    .form-articles {
      padding: 0;
      margin: 0;

      select {
        margin-bottom: 5%;
      }

      input[type='submit'] {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .page-add-article {
    fieldset {
      .form-articles {
        select {
          margin-bottom: 2%;
        }

        input[type='submit'] {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-add-article {
    width: 95%;

    fieldset {
      .form-articles {

        input[type='submit'] {
          width: 20%;
        }
      }
    }
  }
}


