.container-home {
  padding-bottom: 2%;

  .titre-h1 {
    display: none;
  }

  .home-welcome {
    width: 100%;
    margin: auto;
    padding-top: 5%;

    h2 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5%;
    }

    .home-welcome_article {
      text-align: center;
      font-size: 1.4rem;

      .mobil-hidden-text {
        display: none;
      }

      p {
        margin: auto auto 5%;
        width: 90%;
      }

      img {
        width: 100%;
      }
    }
  }

  .mobil-hidden, .mobil-list {
    h2 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin: 5% 0;
    }
  }
}


@media screen and (min-width: 768px) {

  .container-home {
    .titre-h1 {
      display: block;
    }

    .home-welcome {
      .home-welcome_article {
        text-align: inherit;

        .mobil-text-home {
          display: none;
        }

        .mobil-hidden-text {
          display: block;
          width: 100%;
        }
      }
    }

    .mobil-list {
      display: none;
    }

    .mobil-hidden {
      display: block;

      .table-home-articles {
        font-weight: var(--bold);
        width: 100%;

        thead {
          background-color: rgba(33, 3, 3, 0.89);
          color: white;
        }

        tbody {
          tr {
            background-color: rgba(72, 55, 55, 0.45);

            td {
              text-align: center;
              padding: 2%;

              a {
                color: rgb(255, 234, 129);
                text-decoration: underline;
              }
            }
          }
        }
      }

      .table-home-items {
        display: none;
      }

    }

  }

}

@media screen and (min-width: 1200px) {

  .container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .titre-h1 {
      width: 100%;
      margin-bottom: 2%;
    }

    .home-welcome {
      width: 48%;
      padding: 1rem 1rem 0 1rem;

      .home-welcome_article {
        text-align: justify;

        .mobil-hidden-text {
          margin: auto;
          padding: 0;

        }
      }

    }

    .mobil-hidden {
      width: 48%;

      h2 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 2% 0;
      }

      table {
        td {
          text-align: center;
          padding: 2%;
        }
      }


      .table-home-items {
        display: table;
        margin-top: 5%;

        thead {
          background-color: rgba(33, 3, 3, 0.89);
          color: white;
        }

        tbody {
          tr {
            background-color: rgba(72, 55, 55, 0.45);
            width: 25%;
            td {
              text-align: center;
              width: 20%;
              padding: 1%;

              img{
                width: 25%;
              }
              div {
                display: flex;
                justify-content: center;
                align-items: center;

                .img-coins {
                  width: 10%
                }
              }
            }
          }
        }
      }
    }
  }
}