.home-welcome {
  width: 100%;
  margin: auto;

  h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 5% 0;
  }

  .home-welcome_article {
    text-align: justify;

    .desktop-text-home {
      display: none;
    }

    p {
      margin: auto auto 5%;
      width: 90%;
    }

    img {
      width: 100%;
    }
  }
}

.home-navigation {
  width: 100%;
  text-align: center;
  padding: 2rem 0;

  .home-navigation_table {
    margin: 5% auto auto;
    border: var(--border);
    border-collapse: collapse;

    td,
    th {
      border: var(--border);
      padding: 1%;

      a {
        color: #0803D2;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-welcome {
    .home-welcome_article {
      text-align: inherit;
      .mobil-text-home {
        display: none;
      }

      .mobil-hidden {
        display: block;
      }
    }
  }
  .home-navigation {
    .home-navigation_table {
      width: 90%;
    }
  }

}

@media screen and (min-width: 1200px) {

  .container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .home-welcome {
    width: 48%;
    padding: 1rem 1rem 0 1rem;
    .home-welcome_article{
      text-align: justify;
      .mobil-hidden {
        margin: auto;
        padding: 0;
      }
    }

  }


  .home-navigation {
    width: 48%;
  }
}