@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/opendys/OpenDyslexic-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/opendys/OpenDyslexic-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/opendys/OpenDyslexic-Italic.woff") format("woff");
  font-style: italic;
}
:root {
  --border: 1px solid black;
  --border-radius: 5px;
}

/* ************* GENERAL ************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: black;
}

main {
  background-color: #FAECD7;
  padding-bottom: 1rem;
}
main h1 {
  text-align: center;
  text-transform: uppercase;
}
main .container {
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

hr {
  width: 75%;
  margin: 1rem auto;
}

legend {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
form label {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
}
form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: var(--border);
  border-radius: 5px;
}
form button {
  width: 100%;
  padding: 0.5rem;
  border: var(--border);
  border-radius: 5px;
  background-color: #276cd3;
  color: white;
  font-weight: bold;
}
form button:hover {
  background-color: #ffcc00;
}

.dyslexia {
  font-family: "OpenDyslexic", sans-serif;
}

/* ************* LAYOUTS ************* */
.header {
  background-image: url(../img/banniereHeader.jpg);
  background-size: cover;
}
.header .header-logo {
  text-align: center;
}
.header .header-logo img {
  width: 60%;
}
.header .header-navigation ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.header .header-navigation ul li a {
  color: white;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header .header-navigation ul li a:hover {
  color: #ffcc00;
}
.header .header-navigation ul .header-navigation_routes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  background-color: #276cd3;
  color: #fff;
  background-image: url(../img/banniereFooter.jpg);
  background-size: cover;
}
.footer a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 767px) {
  .header .header-logo {
    text-align: center;
  }
  .header .header-logo img {
    width: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-logo {
    text-align: center;
  }
  .header .header-logo img {
    width: 15%;
  }
}
/* ************* PAGES ************* */
/* ************* HOME ************* */
.home-welcome {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}
.home-welcome h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.home-welcome .home-welcome_article {
  text-align: justify;
}
.home-welcome .home-welcome_article p {
  margin-bottom: 1rem;
}

.home-navigation {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
.home-navigation .home-navigation_table {
  margin: auto;
  border: var(--border);
  border-collapse: collapse;
}
.home-navigation .home-navigation_table td,
.home-navigation .home-navigation_table th {
  border: var(--border);
  padding: 1rem;
}
.home-navigation .home-navigation_table td a,
.home-navigation .home-navigation_table th a {
  color: #0803D2;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-welcome {
    width: 48%;
    padding: 1rem 1rem 0 1rem;
  }
  .home-navigation {
    width: 48%;
  }
}
/* ************* PAGES ************* */
/* ************* DETAILS ************* */
.container-details {
  padding-top: 1rem;
}
.container-details .header-details-img {
  background-image: url(../img/forum-details/articles-head.png);
  background-size: cover;
  background-position: 0 -15px;
  padding: 2rem;
}
.container-details .details-article {
  padding: 1rem;
  text-align: center;
}
.container-details .details-article p {
  margin: auto auto 0.5rem;
  width: 85%;
}
.container-details .body-details-img {
  background-image: url(../img/forum-details/articles-body.png);
  background-size: 100%;
  background-repeat: repeat-y;
}
.container-details .footer-details-img {
  background-image: url(../img/forum-details/articles-footer.png);
  background-size: cover;
  background-position: 0 -100px;
  padding: 4rem;
}

.details-comments {
  padding: 1rem;
  text-align: center;
}
.details-comments p {
  margin: auto auto 0.5rem;
  width: 85%;
}
.details-comments hr {
  border-color: black;
}
.details-comments hr:last-child {
  display: none;
}
.details-comments .header-comments-img {
  background-image: url(../img/forum-details/comments-head.png);
  background-size: cover;
  background-position: 0 -15px;
  padding: 2rem;
}
.details-comments .body-comments-img {
  background-image: url(../img/forum-details/comments-body.png);
  background-size: 100%;
  background-repeat: repeat-y;
  padding-bottom: 0.5rem;
}
.details-comments .footer-comments-img {
  background-image: url(../img/forum-details/comments-footer.png);
  background-size: cover;
  background-position: 0 -65px;
  padding: 2.5rem;
}

.details-form {
  margin: 1rem;
  border-radius: var(--border-radius);
}

/* ************* PAGES ************* */
/* ************* LOGIN / REGISTER ************* */
.page-connect, .page-register {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
}
.page-connect .form-login, .page-connect .form-register, .page-register .form-login, .page-register .form-register {
  margin: 0 1rem 1rem;
  border-radius: var(--border-radius);
}

/*# sourceMappingURL=style.css.map */
