/* ************* FONTS FACE ************* */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/opendys/OpenDyslexic-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/opendys/OpenDyslexic-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/opendys/OpenDyslexic-Italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/opendys/OpenDyslexic-Bold-Italic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}

/* ************* ROOT ************* */
:root {
  --border: 1px solid black;
  --br: 5%;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-purple: #69459a;
    --color-orange: #f5a623;

}

/* ************* NORMALIZE ************* */

@import 'normalize';

/* ************* GENERAL ************* */


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
}

main {
  background-color: #FAECD7;

  h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    margin: 0;
  }

  .container {
    width: 95%;
    margin: auto;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

hr {
  width: 75%;
  margin: 1rem auto;
}

legend {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;

  label {
    width: 90%;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
  }

  input {
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: var(--border);
  }

  input[type='submit'] {
    width: 30%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 10rem;
    max-height: 10rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: var(--border);
  }
}

table {
  margin: 5% auto auto;
  border-collapse: collapse;

  td,
  th {
    border: var(--border);
    padding: 1%;

    a {
      color: #0803D2;
    }
  }
}

.dyslexia {
  font-family: 'OpenDyslexic', sans-serif;
}

.mobil-hidden {
  display: none;
}

/* ************* PAGE ************* */
/* ************* LAYOUTS ************* */

.header {
  background-image: url(../img/banniereheader.webp);
  background-size: cover;

  .header-logo {
    text-align: center;

    img {
      width: 60%;
    }
  }

  .header-navigation {

    .mobile-burger {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;

      li {
        a {
          color: white;
          padding: 1rem;
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;

          &:hover {
            color: #ffcc00;
          }
        }
      }

      .header-navigation_routes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    }
  }
}

.footer {
  padding: 1rem;
  color: #fff;
  text-align: center;
  background-image: url(../img/bannierefooter.webp);
  background-size: cover;

  p {
    display: flex;
    flex-direction: column;

    a {
      margin-left: 1rem;
      color: #fff;
      text-decoration: underline;
    }
  }

}

@media screen and (min-width: 767px) {
  .header {
    .header-navigation{

      .mobile-hidden-layout {
        display: block;
      }
    }
    .header-logo {
      text-align: center;

      img {
        width: 35%;
      }
    }
  }
  .footer {
    p {
      flex-direction: row;
      justify-content: center;
    }
  }

}

@media screen and (min-width: 1200px) {
  .header {
    .header-logo {
      text-align: center;

      img {
        width: 15%;
      }
    }
  }
}

/* ************* PAGE ************* */
/* ************* HOME ************* */

@import 'home';

/* ************* PAGE ************* */
/* ************* FORUM ************* */

@import 'forum';

/* ************* PAGE ************* */
/* ************* AUCTION ************* */

@import 'auction';

/* ************* PAGE ************* */
/* ************* PROFILE ************* */

@import 'profile';

/* ************* PAGE ************* */
/* ************* CONNEXION ************* */

@import 'connexion';

/* ************* PAGE ************* */
/* ************* ADMINISTRATION ************* */

@import 'administration';